header {
    background: #BBBBBB;
    padding: 20px 0;      /*  Espaçamento interno de 20 px*/
}
.caixa{
    position: relative;
    width: 940px;
   margin: 0 auto; /*  margens laterais automáticas*/
}
nav {
    position: absolute;
    top: 110px;         /*  localização do conteudo de navegação*/
    right: 0px;
} 
nav li {
    display: inline;        /*  adicionando espeçamento à esquerda usando margin para os itens da lista*/
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;          /*  propriedades do texto dos lins ancoras*/
    font-size: 22px;
    text-decoration: none;
   }
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:top;
    margin:0 1.5%;
    padding: 30px 20px; /* isso aumentará o tamanho do elemento, a menos que se use a propriedade a baixo*/
    box-sizing: border-box; /* tornou os 30% definitivos e o espaço de 20 e 30px ficarao dentro da caixa */
    border: #000000 2px solid;
    border-radius: 10px; 
}
.produtos li:hover {
    border-color:#C78C19; /* muda as carateríscas ao passar o mouse por cima*/
}
.produtos li:active {
    border-color:#088C19;/* muda as carateríscas ao clicar*/
}
.produtos li:hover h2 {/* muda as carateríscasde uma parte específica*/
    font-size: 34px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px; /* forma simplificada de escrever "margin: 10px 0 0;" */ 
}
footer {
    text-align: center;
    background:url("bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}